# 本地开发（Hardhat 节点）
VITE_RPC_URL=http://127.0.0.1:8545

# Avalanche Fuji 测试网
# VITE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc

# Avalanche 主网
# VITE_RPC_URL=https://api.avax.network/ext/bc/C/rpc
